@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: #fff;
    color: #2b2b2b;
}

body {
    font-family: 'Courier New', monospace;
    min-height: 100vh;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#darkModeToggle {
    position: fixed;
    right: 0;
    margin: 25px;
    height: 50px;
    width: 50px;
    z-index: 5;
    text-align: center;
    border-radius: 50%;
}

#container {
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 450px;
    height: 95vh;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
}

#nav_links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0;
    padding: 0;
    display: inline;
}

a {
    color: #2b2b2b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2b2b2b;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 350px;
    margin: 0 auto 0 auto;
    padding: 15px;
    border: #2b2b2b dotted 1px;
}

footer {
    width: 300px;
    margin: 0 auto 0 auto;
    text-align: center;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    font-weight: bold;
}

/* ---------- tree page ---------- */


.tree_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tree_list li {
  margin: 0;
}

.tree_list li::before {
  content: "> ";
  display: inline-block;   /* keeps > on same line */
  margin-right: 4px;
}

.box:hover {
    border-style: dashed;
    border-width: 2px;
    border-color: red;
}