@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base (Light) Mode Styles */
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: #fff; /* Light background */
    color: #2b2b2b; /* Light text color */
}

body {
    font-family: 'Martian Mono', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 10;
}

#darkModeToggle {
    position: fixed;
    right: 0;
    margin: 25px;
    height: 50px;
    width: 50px;
    z-index: 5;
    text-align: center;
    border-radius: 50%;
}

#container {
    text-align: center;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
}

#nav_links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0;
    padding: 0;
    display: inline;
}

a {
    color: #2b2b2b; /* Light mode link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2b2b2b; /* Light mode visited link color */
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* --- Dark Mode Styles --- */
.dark-mode {
    background-color: #2b2b2b; /* Dark background */
    color: #fff; /* Dark text color */
}

.dark-mode a {
    color: #fff; /* Dark mode link color (e.g., a light blue) */
}

.dark-mode a:visited {
    color: #fff; /* Dark mode visited link color (e.g., a purple) */
}

.dark-mode img {
    src: url("media/shql_dark.png");
}

/* You might need to adjust other elements for dark mode as well */
.dark-mode nav {
    /* Example: if your nav has a specific background */
    /* background-color: #2c2c2c; */
}